/* Css - Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Fonts */
@font-face {
  font-family: Merriweather;
  src: url("/src/fonts/Merriweather_24pt-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Lato;
  src: url("/src/fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: DancingScript;
  src: url("/src/fonts/DancingScript-Regular.ttf") format("truetype");
}

/* Typescaling */
h1 {
  font-size: 3rem;
  font-family: Merriweather;
}
h3 {
  font-size: 1.5rem;
  font-family: Merriweather;
}
h4 {
  font-size: 1.1rem;
  font-family: Merriweather;
  font-weight: bold;
}
p {
  font-size: 1.2rem;
  font-family: Lato;
}
/* Variablen / Color */
:root {
  --bg-color1: #e8dfd3;
  --bg-color2: #f5f0e6;
  --bg-color3: #3a2b24;
  --bg-color4: #ffffff;
  --text-color1: #3a2b24;
  --text-color2: #e8dfd3;
}
/* Header - Section */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--bg-color1);
  color: var(--text-color1);
}
.header-container h3 {
  font-family: DancingScript;
  margin-left: 1.5rem;
}
.header-container .desktop-navbar-container ul {
  display: flex;
  gap: 2rem;
  margin-right: 1.5rem;
}
.header-container .desktop-navbar-container ul li {
  list-style: none;
}
.header-container .desktop-navbar-container ul li a {
  text-decoration: none;
  color: var(--text-color1);
}
.header-container .desktop-navbar-container ul li a:hover,
.header-container .desktop-navbar-container ul li a:focus {
  text-decoration: underline;
  text-underline-offset: 2px;
}
.header-container .burger-container {
  display: flex;
  position: absolute;
  right: 5rem;
}
.burger-container:hover {
  cursor: pointer;
}
.burger-container:hover > .mobile-navbar-container {
  display: block;
}
.header-container .burger-container img {
  width: 35px;
  height: 35px;
  text-align: center;
}
.header-container .mobile-navbar-container {
  position: absolute;
}
.header-container .mobile-navbar-container ul {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  background-color: var(--bg-color1);
}
.header-container .mobile-navbar-container ul li {
  list-style: none;
}
.header-container .mobile-navbar-container ul li a {
  text-decoration: none;
  color: var(--text-color1);
}
.header-container .mobile-navbar-container ul li a:hover,
.header-container .mobile-navbar-container ul li a:focus {
  text-decoration: underline;
  text-underline-offset: 2px;
}
/**********************************************************/
/* Hero - Section */
.hero-container {
  background-image: url("/src/img/heroPicture.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}
.hero-container .overlay {
  position: absolute;
  width: 100%;
  height: 50vh;
  background: linear-gradient(to bottom, rgba(232, 223, 211, 0.1) 0%, rgba(232, 223, 211, 0.1)) 100%;
  pointer-events: none;
}
.hero-container .overlay-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--text-color2);
  gap: 1.5rem;
}
.hero-container .overlay-text .btn-default {
  padding: 0.5rem;
  width: 10rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--bg-color3);
  color: var(--bg-color2);
  font-family: Lato;
  font-weight: bold;
  transition: filter 0.3s ease;
  cursor: pointer;
}
.hero-container .overlay-text .btn-default:hover {
  filter: brightness(1.1);
}
/* About - Us - Section */
.about-us-container {
  padding: 2.5rem;
  background-color: var(--bg-color4);
  color: var(--text-color1);
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-container .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.grid-container .text-container h3 {
  font-weight: 200;
}
.grid-container .img-container {
  display: flex;
  justify-content: center;
  margin-left: 8rem;
}
.grid-container .img-container img {
  height: 40vh;
}
/* Menue - Section */
.menue-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: var(--text-color1);
  padding: 0 2.5rem 2.5rem 2.5rem;
}
.menue-container div {
  background-color: var(--bg-color1);
  color: var(--text-color1);
  padding: 2rem;
  text-align: center;
  gap: 0.5rem;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 10px -5px 5px #e0d6c4;
}
.menue-container div p {
  text-align: center;
  margin-top: 0.5rem;
}
/* Events - Section */
.events-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem 2.5rem 2rem;
}
.music-container {
  background-color: var(--bg-color1);
  margin-right: 2rem;
  padding: 2rem;
  box-shadow: 10px -5px 5px #e0d6c4;
}
.tasting-container {
  background-color: var(--bg-color1);
  margin-left: 2rem;
  padding: 2rem;
  box-shadow: 10px -5px 5px #e0d6c4;
}
.music-container .guitar-container,
.tasting-container .tasse-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.music-container .guitar-container img,
.tasting-container .tasse-container img {
  width: 3rem;
}
.music-container p,
.tasting-container p {
  text-align: center;
  margin-top: 1.5rem;
}

/* Media - Queries 320px*/
@media (min-width: 320px) {
  /* Header - Container */
  .header-container .desktop-navbar-container {
    display: none;
  }
  .header-container .burger-container {
    display: block;
  }
  .header-container .mobile-navbar-container {
    display: none;
  }
  /* Hero - Container */
  .hero-container .overlay-text h1 {
    font-size: 1.8rem;
    text-align: center;
    padding: 0 1.5rem 0 1.5rem;
  }
  .hero-container .overlay-text p {
    font-size: 1rem;
    text-align: center;
    padding: 0 1.5rem 0 1.5rem;
  }
  .hero-container .overlay-text .btn-container {
    margin-top: 1.3rem;
  }
  /* About - Us - Container*/
  .about-us-container {
    padding: 0;
  }
  .grid-container {
    grid-template-columns: 1fr;
    padding: 2rem;
  }
  .grid-container .text-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .grid-container .text-container h3 {
    font-weight: 100;
    font-size: 1rem;
  }
  .grid-container .text-container p {
    font-weight: 100;
    font-size: 0.75rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  .grid-container .img-container {
    margin-left: 0;
    width: 100%;
  }
  .grid-container .img-container img {
    width: 100%;
  }
  /* Menue - Container */
  .menue-container {
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    padding: 0 2rem 2.5rem 1.7rem;
  }
  .menue-container div h4 {
    font-size: 1rem;
  }
  .menue-container div p {
    font-size: 0.75rem;
  }
  /* Events - Container */
  .events-container {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }
  .music-container,
  .tasting-container {
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
  }
  .guitar-container h4,
  .tasse-container h4 {
    font-size: 1rem;
  }
  .music-container p,
  .tasting-container p {
    font-size: 1rem;
  }
}
/* Media - Queries 576px*/
@media (min-width: 576px) {
  /* Header - Container */
  .header-container .desktop-navbar-container {
    display: block;
  }
  .header-container .mobile-navbar-container {
    display: none;
  }
  .header-container .burger-container {
    display: none;
  }
  .header-container .mobile-navbar-container {
    display: none;
  }
  /* Hero - Container */
  .hero-container .overlay-text h1 {
    font-size: 3rem;
    text-align: center;
    padding: 0 1.5rem 0 1.5rem;
  }
  .hero-container .overlay-text p {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 1.5rem 0 1.5rem;
  }
  .hero-container .overlay-text .btn-container {
    margin-top: 1.3rem;
  }
  .grid-container {
    grid-template-columns: 1fr 1fr;
    padding: 2.5rem 6.5rem 2.5rem 0;
  }
  .grid-container .text-container h3 {
    font-weight: 600;
  }
  .grid-container .text-container p {
    font-weight: 100;
    font-size: 1rem;
    margin-bottom: 0;
    text-align: left;
  }
}
/* Media - Queries 768px*/
@media (min-width: 768px) {
  /* Menue - Container */
  .menue-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  /* Events - Container */
  .events-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  .music-container,
  .tasting-container {
    margin-left: auto;
    margin-right: auto;
  }
}
/* .container {
  width: 95%;
  padding-left: 1rem;
  padding-right: 1;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid red;
} */

/* @media (min-width: 576px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 85px;
  }
  html {
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 1.125rem;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 80%;
  }
  html {
    font-size: 1.15rem;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 70%;
  }
  html {
    font-size: 1.2rem;
  }
}
@media (min-width: 1920px) {
  .container {
    width: 60%;
  }
  html {
    font-size: 1.3rem;
  }
} */
