/* Css - Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: Merriweather;
  src: url("/src/fonts/Merriweather_24pt-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Lato;
  src: url("/src/fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: DancingScript;
  src: url("/src/fonts/DancingScript-Regular.ttf") format("truetype");
}

/* Typescaling */
h1 {
  font-size: 5.613rem;
  font-family: Merriweather;
}
h2 {
  font-size: 4.206rem;
  font-family: Merriweather;
}
h3 {
  font-size: 1.5rem;
  font-family: Merriweather;
}
h4 {
  font-size: 2.369rem;
  font-family: Merriweather;
}
h5 {
  font-size: 1.775rem;
  font-family: Merriweather;
}
h6 {
  font-size: 1.331rem;
  font-family: Merriweather;
}
p {
  font-size: 1rem;
  font-family: Lato;
}
small {
  font-size: 0.75rem;
  font-family: Lato;
}

/* Variablen / Color */
:root {
  --bg-color1: #e8dfd3;
  --bg-color2: #f5f0e6;
  --bg-color3: #3a2b24;
  --bg-color4: #ffffff;
  --text-color1: #3a2b24;
  --text-color2: #e8dfd3;
}
/* Header - Section */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--bg-color1);
  color: var(--text-color1);
}
.header-container h3 {
  font-family: DancingScript;
  margin-left: 2rem;
}
.header-container .navbar-container ul {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}
.header-container .navbar-container ul li {
  list-style: none;
}
.header-container .navbar-container ul li a {
  text-decoration: none;
  color: var(--text-color1);
}
.header-container .navbar-container ul li a:hover,
.header-container .navbar-container ul li a:focus {
  text-decoration: underline;
  text-underline-offset: 4px;
}
/* Media - Queries */
/* .container {
  width: 95%;
  padding-left: 1rem;
  padding-right: 1;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid red;
} */

/* @media (min-width: 576px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 85px;
  }
  html {
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 1.125rem;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 80%;
  }
  html {
    font-size: 1.15rem;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 70%;
  }
  html {
    font-size: 1.2rem;
  }
}
@media (min-width: 1920px) {
  .container {
    width: 60%;
  }
  html {
    font-size: 1.3rem;
  }
} */
